*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,a:hover{
     text-decocation: none;
}
ul{
	list-style:none;
}
.header{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url(nards.jpg);
	background-size:cover;
	background-repeat: no-repeat;
}
.header .navbar{
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	padding-top: 50px;
}
	
}
.header .navbar .menu ul{
	margin-left: 192px;
	
}

.header .navbar .menu ul li{
	display: inline-table;
	margin-right:35px;
	align-items:center;
	
}

.header .navbar .menu ul li a{
	color: #D1D0CE;
	font-size: 17px;
	font-weight: 500;
	letter-spacing:1px;
	transition: all 0.3s;
	
	
}

.header .banner{
	position:absolute;
	top: 35%;
	left:0;
	color: #D1D0CE;
}
.header .banner .app-text {
	padding-left:440px;
}
.header .banner .app-text hi {
	font-size:80px;
	position: relative;
	margin-top: 30px;
	font-weight: 700;
	line-height:1.3;
}
.header .banner .app-text h1 span{
	color: #c32865;
}